# .NET Build
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# .NET Publish
*.publish.xml
*.pubxml
*.pubxml.user
PublishProfiles/

# Secrets
appsettings.json
appsettings.*.json
!appsettings.Template.json
*.env
.env
.env.local

# Database
*.db
*.mdf
*.ldf

node_modules/
dist/
dist-ssr/

# Misc
"test emali.txt"
*.log
.DS_Store
test emali.txt
